.menuprodbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 30vw;
    box-shadow: var(--box-shadow-default);
    padding:40px;
    margin: 10px;
    border-radius: 10px;
}
.produtoAmostra{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-default);
    margin: 10px;

}
