section{
    background-color: rgba(0, 0, 0, 0.651);
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section h1,
section p{
    color: #efefef;
    margin: 20px;
}
section h1{
    font-size: 50px;
}
section p{
    font-size: 30px;
}