*{
    margin:0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --cor-zero:#862F29;
    --cor-um:#A24840;
    --cor-dois:#FA0101;
    --cor-tres:#784843;
    --cor-quatro:#4D3A38;
    --cor-cinco:#332E2E;
}
.header{
    background-color:var(--cor-zero) ;
    width: 100vw;
    height: 100px;
}