.sectionsec{
    background-color: #000000a0;
    margin-top: 140px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.sectionsec h2,
.sectionsec p,
.sectionsec h1{
    color: var(--color-text);
}
.sectionsec h1{
    font-size: 70px;
}
.sectionsec h2{
    font-size: 40px;
}
.sectionsec p{
    font-size: 20px;
}
