:root{
  --color-main:#AA1E1E;
  --color-text:#efefef;
  --box-shadow-default:1px 1px 5px rgba(0, 0, 0, 0.281);
}

*{
  padding: 0;
  margin: 0;
  color: black;
  box-sizing: border-box;
  /* font-family:'Monomaniac One'; */
  
}

body{
  flex-direction: column;
  height: auto;
}
li{
  list-style: none;
}
.linki:hover{
  filter: drop-shadow(0px 1px 4px rgba(255, 255, 255, 0.911));
  transform: scale(1.1);
  cursor: pointer;
}